﻿body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width:100%;
}
#content{
    width:100%;
}
#formContainer{
    width: 600px;
    box-shadow: gray 0px 0px 20px;
    padding:20px;
}
#help{
    margin:20px;
    width:90%;
}

.ajax_input{
    width:50px;
    padding: 0px 2px;
}
.ajax_text_input{
    width:100%;
}

