﻿
@{
    ViewBag.Title = "Image test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div align="center">
        <div id="formContainer" align="center">
            @using (Ajax.BeginForm("Image", "Home", new AjaxOptions { UpdateTargetId = "container" }, new { id = "testform", @class = "" }))
            {
                <p style="font: bold 21px arial; margin-bottom:20px;">Create your shape</p>
                <div class="form-row" style="height:30px;">
                    <div class="form-group col-md-4">
                        <label for="input_color">Color</label>
                        <input id="input_color" type="color" class="ajax_input" name="color" value="#5dded3" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input_strokecolor">Stroke color</label>
                        <input id="input_strokecolor" type="color" class="ajax_input" name="strokecolor" value="#000000" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input_strokewidth">Stroke width</label>
                        <input id="input_strokewidth" type="number" class="ajax_input" name="strokewidth" min="0" max="500" value="1" />
                    </div>
                </div>
                <div class="form-row" style="height:30px;">
                    <div class="form-group col-md-11">
                        <input id="input_text" type="text" class="ajax_text_input" name="data" />
                    </div>
                    <div class="form-group col-md-1">
                        <button onclick="helpPressed(this)">?</button>
                    </div>
                </div>
                @*
                    <input id="input_color" type="color" class="ajax_input" name="color" value="#5dded3" />
                    <input id="input_strokecolor" type="color" class="ajax_input" name="strokecolor" value="#000000" />
                    <input id="input_strokewidth" type="number" class="ajax_input" name="strokewidth" min="0" max="500" value="2" />
                    <input id="input_text" type="text" class="ajax_text_input" name="data" />
                *@

                <input type="submit" value="Тест" hidden="hidden" />
            }
        </div>
        <div id="container" align="center" style="margin:10px;"></div>
    </div>
    <div id="help">
        <p>This service allows you to request images of geometric shapes using a text query. Acceptable types of figures and measurements:</p>
        <ul>
            <li>Isosceles Triangle - length and height</li>
            <li>Square - length</li>
            <li>Scalene Triangle - length of two sides and angle between tham</li>
            <li>Parallelogram - length of two sides and angle between tham</li>
            <li>Equilateral Triangle - length of side</li>
            <li>Pentagon - length of side</li>
            <li>Rectangle - width adn height</li>
            <li>Hexagon - length of side</li>
            <li>Heptagon - length of side</li>
            <li>Octagon - length of side</li>
            <li>Circle - radius or diameter</li>
            <li>Oval - width and height</li>
        </ul>
        <p>Examples:</p>
        <ul>
            <li>Draw a circle with a radius of 100</li>
            <li>Draw a circle with a diameter of 100</li>
            <li>Draw a square with a side length of 200</li>
            <li>Draw a rectangle with a width of 250 and a height of 400</li>
            <li>Draw an octagon with a side length of 200</li>
            <li>Draw an isosceles triangle with a height of 200 and a width of 100</li>
            <li>Draw an scalene triangle with a one side length of 100 and a other side length of 100 and angle 45</li>
            <li>Draw an parallelogram with a one side length of 100 and a other side length of 100 and angle 45</li>
            <li>Draw an parallelogram with length of 100, length of 100 and angle 45</li>
            <li>Draw an Oval with width of 100, height of 100</li>
        </ul>
    </div>
</div>